.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 30%;
    /* 너비 설정 */
    max-width: 500px;
    /* 최대 너비 설정 */
    z-index: 1001;
    /* 오버레이보다 더 높은 값 */
    text-align:center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* 반투명 검정 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* 모달 콘텐츠보다 낮은 값 */
}

.modal-btn {
    background-color: #d6d6d6;
    border: none;
    color: rgb(10, 10, 10);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    font-size: 18px;
    margin: 6px 2px;
    cursor: pointer;
    border-radius: 12px;
    /*모서리 둥글게*/
}