.modal-content {
    display:grid;

    background: rgb(222, 222, 222);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 30%;
    /* 너비 설정 */
    max-width: 500px;
    /* 최대 너비 설정 */

    height: 100px;

    z-index: 1001;
    /* 오버레이보다 더 높은 값 */

    font-size: 16px;
    text-align:center;
    justify-content: center;

    color:rgba(161, 10, 1);
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* 반투명 검정 배경 */

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    /* 모달 콘텐츠보다 낮은 값 */
}

.modal-btn {
    background-color:rgb(222, 222, 222);
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;

    height: 15px;


    display: block;
    font-size: 15px;
    margin: 6px 5px;
    cursor: pointer;
    border-radius: 12px;
    /*모서리 둥글게*/
}

.big-modal-content {
    display: grid;

    background: rgb(239, 239, 239);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 60%;
    height: 50%;

    max-width: 800px;

    max-height: 400px;

    z-index: 1001;
    /* 오버레이보다 더 높은 값 */

    font-size: 27px;
    text-align: center;
    justify-content: center;

    color: rgba(161, 10, 1);
}