.text {
    text-align: center;
    /*min-height: 100vh;*/
    display: flex;
    color: rgb(203, 203, 203);

    justify-content: center;
    margin-top: 0px;

    flex-direction: column;
}

.black_bg .text {
    color: rgb(203, 203, 203);
}