

.todo-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px
}

/*얘가 기능*/
.scrollable-list { 
    
    max-height: 400px; /* 원하는 최대 높이 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
}

/*얘가 스타일*/
.scrollable-list::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: black;
}