.start-btn {
    background-color: #000000;
    border: none;
    color: rgb(203, 203, 203);
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    font-size: 20px;
    margin: 1px 2px;
    cursor: pointer;
    /*border-radius: 12px; /*모서리 둥글게*/
}


.next-btn {
    background-color: #000000;
    border: none;
    color: rgb(203, 203, 203);
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;

    display: inline-block; /*인라인 블록으로 설정*/
    font-size: 20px;
    margin: 6px 2px;
    cursor: pointer;
    border-radius: 12px; /*모서리 둥글게*/

    position: absolute; /*부모 요소 기준 절대 위치 지정*/
    right: 20px;
    bottom: 20px;
}

.before-btn {
    background-color: #000000;
    border: none;
    color: rgb(203, 203, 203);
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    font-size: 20px;
    margin: 6px 2px;
    cursor: pointer;
    border-radius: 12px;

    position: absolute;
    left: 20px;
    bottom: 20px;
}

