.name-input {
    width: 120px;
    padding: 8px 10px;
    font-size: 16px;
    color: #eeeeee;
    background-color: #141414;
    border: 2px solid rgb(161, 1, 1); /*테두리*/
    border-radius: 4px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s;
}