.add-list {
    width: 510px;
    padding: 8px 10px;
    font-size: 16px;
    color: #eeeeee;
    background-color: #141414;
    border: 2px solid rgb(203, 203, 203);

    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    /*양쪽 정렬*/
    text-align: center;
    align-items: center;

    outline: none;
    transition: border-color 0.3s;

    margin-top: 15px;

}

.btn-group {
    display: flex;
    /* 버튼들을 가로로 나열 */
    align-items: center;
    /* 버튼끼리 세로 정렬 */
    gap: 8px;
}

.edit-btn {

    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.edit-btn:hover {
    opacity: 0.7;
}

.edit-input {
    background: transparent;
    /* 배경 투명하게 */
    border: none;
    /* 테두리 없애기 */
    outline: none;
    
    box-sizing: border-box;
    width: 510px;
    height: 33px;
    padding: 8px 10px;
    font-size: 16px;
    color: #eeeeee;
    background-color: #141414;

    border-radius: 4px;
    transition: border-color 0.3s;
}


.delete-btn {

    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-btn:hover {
    opacity: 0.7;
}

