.add-list {
    width: 510px;
    padding: 8px 10px;
    font-size: 16px;
    color: #eeeeee;
    background-color: #141414;
    border: 2px solid rgb(203, 203, 203);

    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    /*양쪽 정렬*/
    text-align: center;
    align-items: center;

    outline: none;
    transition: border-color 0.3s;

    margin-top: 15px;
}


.btn-group {
    display: flex;
    /* 버튼들을 가로로 나열 */
    align-items: center;
    /* 버튼끼리 세로 정렬 */
    gap: 8px;
}

.select-btn,
.edit-btn,
.delete-btn {

    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.select-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.edit-input {
    background: transparent;
    /* 배경 투명하게 */
    border: none;
    /* 테두리 없애기 */
    outline: none;
    
    box-sizing: border-box;
    width: 510px;
    height: 33px;
    padding: 8px 10px;
    font-size: 16px;
    color: #eeeeee;
    background-color: #141414;

    border-radius: 4px;
    transition: border-color 0.3s;
}



.selection-options {
    position: absolute;
    /* .add-list 기준 상대 위치 */
    bottom: -60px;
    /* 할 일 목록 아래에 표시 */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: #222;
    /* 어두운 배경 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    /* 다른 요소 위로 오도록 */
}

.selection-options .option-image {
    width: 40px;
    /* 옵션 이미지 크기 */
    height: 40px;
    object-fit: cover;
    /* 이미지가 잘리지 않도록 */
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid transparent;
    /* 기본 테두리 */
    transition: border-color 0.2s ease-in-out;
}

.selection-options .option-image:hover {
    border-color: #007bff;
    /* 호버 시 테두리 색상 변경 */
}